# Ignore Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Virtual Environment
server/venv/
venv/

# Ignore Node Modules
client/node_modules/
node_modules/

TTS-AI

# Ignore environment variables and config files
.env
.env.local
.env.production

lastproject

TTS-AI